* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	font-weight: normal;
	font-family: 'DejaVu Sans', Verdana, Helvetica, sans-serif;
	color: z000000;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	background: #ffffff;
}

.tab-content-first,
.tab-content-second {
	display: none;
	width: 100%;
	height: calc(100% - 48px);
	background-color: #dddddd;
}

.tab-layout input[type='radio'] {
	display: none;
}

.tab-layout .tab {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 48px;
}

.tab-first:hover {
	background-color: #eeeeee;
}

.tab-second:hover {
	background-color: #eeeeee;
}

#tab-first:checked ~ .tab-first {
	background-color: #dddddd;
}

#tab-second:checked ~ .tab-second {
	background-color: #dddddd;
}

#tab-first:checked ~ .tab-content-first {
	display: block;
}

#tab-second:checked ~ .tab-content-second {
	display: block;
}

.tab-layout {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.tab-content-first label {
	display: none;
}

.tab-content-second label {
	display: none;
}

.tab-content-first form,
.tab-content-second form {
	width: 100%;
	height: 100%;
}

input[type='file'] {
	background-color: #eeeeee;
}

textarea {
	background-color: #eeeeee;
}

.tab-content-first input[type='file'] {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 16px;
}

.tab-content-second textarea {
	width: 100%;
	height: 100%;
	padding: 16px;
	resize: none;
	font-family: monospace;
}

.tab-content-first .input-wrapper,
.tab-content-second .input-wrapper {
	width: 100%;
	height: calc(100% - 48px);
	padding: 16px;
}

.tab-content-first input[type='submit'],
.tab-content-second input[type='submit'] {
	width: 100%;
	height: 48px;
}

input[type='submit'],
input[type='button'] {
	background-color: #eeeeee;
    padding: 8px;
}

input[type='submit']:hover,
input[type='button']:hover {
	background-color: #cccccc;
}

.message {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
}

main .message h1 {
	padding: 8px;
	font-size: 1.50em;
	text-align: center;
}

main .message p {
	padding: 8px;
	line-height: 1.5em;
	font-size: 1.00em;
	text-align: center;
}

@media screen and (prefers-color-scheme: dark) {
	* {
		color: #ffffff;
	}

	body {
		background: #000000;
	}

	.tab-content-first,
	.tab-content-second {
		background-color: #222222;
	}

	.tab-first:hover {
		background-color: #222222;
	}

	.tab-second:hover {
		background-color: #222222;
	}

	#tab-first:checked ~ .tab-first {
		background-color: #222222;
	}

	#tab-second:checked ~ .tab-second {
		background-color: #222222;
	}

	input[type='file'] {
		background-color: #111111;
	}

	textarea {
		background-color: #111111;
	}

	input[type='submit'],
	input[type='button'] {
		background-color: #111111;
	}

	input[type='submit']:hover,
	input[type='button']:hover {
		background-color: #333333;
	}
}